<h1 style="font-size:3rem;color:teal;"> STA130 HW 1 </h1>

#### ChatGPT Chatlog History For This Assignment : https://chatgpt.com/share/66f0fd5d-5124-800f-9b54-414399390ae1

### Question 2.2. Start a new ChatBot session with an initial prompt introducing the dataset you're using and request help to determine how many columns and rows of data a pandas DataFrame has, and then...

#### Write your own general definitions of the meaning of "observations" and "variables" based on asking the ChatBot to explain these terms in the context of your dataset

In [32]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [4]:
df.head()

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...

#### "observations" are data points or specific row of a dataset (read top to bottom from the left handside). In this animal crossing dataset, a row or observation would match with one villager like alfonso, or agnes, and so on. 
#### "variables" are the characteristics and traits of the said villager in the columns of the dataset (read from left to right at the top) such as their name, gender, species, birthday, personality, etc.

### Question 4. If the dataset you're using has (a) non-numeric variables and (b) missing values in numeric variables, explain (perhaps using help from a ChatBot if needed) the discrepancies between size of the dataset given by df.shape and what is reported by df.describe() with respect to (a) the number of columns it analyzes and (b) the values it reports in the "count" column

In [10]:
df.describe()

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [7]:
df.shape
#not a method but a attribute so don't put "()", will give tuple giving the parameters of the DataFrame
#first value is number of rows (observation) and second value is columns (variables)

(391, 11)

#### There is no discrepancy between the "count" column of this dataset and the row, meaning there are no missing values and thus df.describe will count them. However, since most of the variables are non-numeric in this dataset, df.describe will only summarize numeric (integers and floating numbers), while df.shape will still show the number of variables in a row. 
##### Overall, df. shape will give the total number of rows and columns, while df.describe() will only summarize numeric variables and rows with non-missing values.

### Question 8. Give brief explanations in your own words for any requested answers to the questions below
#### 8.1.) Use your ChatBot session to understand what df.groupby("col1")["col2"].describe() does and then demonstrate and explain this using a different example from the "titanic" data set other than what the ChatBot automatically provide for you

In [33]:
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
ab = pd.read_csv(url)

In [26]:
ab.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

##### ab.groupby("col1")["col2"].describe() can be broken down into 3 steps, first, df.groupby will take a column ("col1" ) and group them into recurring categories, groupby will then only select values from col2 that match the categories given by col1 and df.describe() will summarize,  giving brief stats information: count, mean, std, min, 25%,50%,75%, and max.

In [27]:
ab.groupby("pclass")["age"].describe()

        count       mean        std   min   25%   50%   75%   max
pclass
1       186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
2       173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
3       355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

##### In the data table of ab.groupby("pclass")["age"].describe(), we see describe() summarizes the age within the pclass categories, giving a pclass row and count, mean, std, min, and so as columns.

#### 8.2.) Assuming you've not yet removed missing values in the manner of question "7" above, df.describe() would have different values in the count value for different data columns depending on the missingness present in the original data. Why do these capture something fundamentally different from the values in the count that result from doing something like df.groupby("col1")["col2"].describe()?

###### Summary for Question 7 answer, del df['col'] means to delete column and df.dropna() drops any rows with missing values. 
###### - df.dropna() is preferred when there are only a few rows say 5 out of 1000 missing, while del df['col1'] will delete a specific column if large amounts say 50% is missing. 
###### - when cleaning data, use del df['col'] first before applying df.dropna() because during second step, you will drop less rows which ensures you aren't dropping rows with only small amounts of missing data in columns, allowing for a more complete dataset. 
###### - e.g. for clearing out missing data: first evaluate the amount of data you are missing in each column through print(ab.isna().sum()), then based on how much data you are missing you use the two accordingly. If there's more than 50% of a column missing then use use del df['col'], then, if there's only a few data in a column missing then use ab.dropna(subset=['col'], inplace=True) (inplace=True means places where it says N/A will be droped.) After procedure, write print(ab.isna().sum()) again to double check to confirm the columns' removal.

##### Answer to Question 8.2: df.describe() and df.groupby("col1")["col2"].describe() are fundamentally different because df.describe() will not count columns with missing values of the ENTIRE dataset, while df.groupby("col1")["col2"].describe() will not count groups WITHIN col1 with missing values.

### Question 8.3. Intentionally introduce the following errors into your code and report your opinion as to whether it's easier to (a) work in a ChatBot session to fix the errors, or (b) use google to search for and fix errors: first share the errors you get in the ChatBot session and see if you can work with ChatBot to troubleshoot and fix the coding errors, and then see if you think a google search for the error provides the necessary toubleshooting help more quickly than ChatGPT

##### A.) ChatGPT will ask you to "import pandas as pd" to fix this issue and Google will present Stackoverflow with 5 answers to trouble shoot the problem.

##### B.) ChatGPT will give you several possible reasons why this error occured: doublecheck filename spelling, path, if you've downloaded the file, file location, and your working directory. Google will present Stackoverflow and explain to you why that error happened essentially the same info but more compact and harder to understand the terms if you have no coding experience like "absolute path".

##### C.) ChatGPT will again list several possible reasons, but doesn't state that capitalizing DF is the problem and google will not tell you that either but when both tools demonstrate an example of df.groupby("col1")["col2"].describe(), the code will be shown with it's correct spelling

In [29]:
DF.groupby("col1")["col2"].describe()

NameError: name 'DF' is not defined

##### D.) ChatGPT will directly tell you that there has been a syntax error and google will not but show a example of relavent problem from Stackoverflow

In [30]:
pd.read_csv(url

SyntaxError: incomplete input (4098100527.py, line 1)

##### E.) ChatGPT again will tell you that the code is spelled incorrectly and Google will only show relevant results

##### F.) ChatGPT will tell you off the bat to check column name and confirm whether if the name you entered exists. Google will give unhelpful relevant information and also interestingly will give the GitHub page of Stats130.

##### G.) ChatGPT will tell you off the bat to include the column as a string. Google does not give you immediate feedback.

#### Overall, I believe it's easier to troubleshoot with ChatGPT because it's programmed to respond to your specific needs, while Google will only show you results that match certain keywords in your question.